[bumpversion]
current_version = 0.3.0
commit = False
tag = False

[bumpversion:file:VERSION]
search = {current_version}
replace = {new_version}

[bumpversion:file:docker/labels/version.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:docker-compose.yml]
search = io.simcore.version: '{{"version": "{current_version}"}}'
replace = io.simcore.version: '{{"version": "{new_version}"}}'

[bumpversion:file:.cookiecutterrc]
search = version:                   '{current_version}'
replace = version:                   '{new_version}'

